body {
    margin-top:60px;
}

.flash-content {
    margin-top: 30px;
    font-size:26px;
}
.flash-area {
    border-radius: 10px;
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f8f5f0;
}

/**Bootstrap overrides*/
.btn {
    font-size: 14px;
}
